/src/main/kafkaconsumer/consumer/KafkaConsumerS.java
/src/main/kafkaconsumer/consumer/MyUser.java
/src/main/kafkaconsumer/consumer/KafkaListenerExample.java
/src/main/kafkaconsumer/resources/application.properties
/src/main/java/com/kafka/KafkaConsumerS.java